<main class="main-body">
  <h2 class="blog-title"><%= config.title %></h2>
  <p class="blog-desc"><%= config.subtitle %></p>
  <p class="blog-info"><%- config.description %></p>
  <h3 class="posts-header">Recent Posts</h3>
  <%- partial('_partial/archive.ejs') %>
</main>