<!DOCTYPE html>
<html lang="en" class="light">
<%- partial('_partial/head') %>
<script>
  function setIsNight(isNight) {
    localStorage.setItem('isNight', isNight)
  }

  function getIsNight() {
    return localStorage.getItem('isNight')
  }

  function switchTheme() {
    let isNight = getIsNight()
    if (isNight === 'false') {
      document.documentElement.className = 'dark'
      document.getElementsByClassName('theme-switcher')[0].textContent = '😴'
      setIsNight('true')
    } else {
      document.documentElement.className = 'light'
      document.getElementsByClassName('theme-switcher')[0].textContent = '😳'
      setIsNight('false')
    }
  }

  let isNight = getIsNight()
  if (isNight == null) {
    isNight = 'false'
    setIsNight('false')
  }
  if (isNight === 'false') {
    document.documentElement.className = 'light'
  } else {
    document.documentElement.className = 'dark'
  }
</script>

<body>
  <div class="show-area">
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/footer') %>
  </div>
</body>


</html>