.dark code[class*="language-"],
.dark pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: #eee;
  background: #2f2f2f;
  font-family: Roboto Mono, monospace;
  font-size: 1em;
  line-height: 1.5em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.dark code[class*="language-"]::-moz-selection,
.dark pre[class*="language-"]::-moz-selection,
.dark code[class*="language-"] ::-moz-selection,
.dark pre[class*="language-"] ::-moz-selection {
  background: #b2b2b2;
}

.dark code[class*="language-"]::selection,
.dark pre[class*="language-"]::selection,
.dark code[class*="language-"] ::selection,
.dark pre[class*="language-"] ::selection {
  background: #b2b2b2;
}

.dark :not(pre)>code[class*="language-"] {
  white-space: normal;
  border-radius: 0.2em;
  padding: 0.1em;
}

.dark pre[class*="language-"] {
  overflow: auto;
  position: relative;
  margin: 0.5em 0;
  padding: 1.25em 1em;
}

.dark .language-css>code,
.dark .language-sass>code,
.dark .language-scss>code {
  color: #fd9170;
}

.dark [class*="language-"] .namespace {
  opacity: 0.7;
}

.dark .token.atrule {
  color: #c792ea;
}

.dark .token.attr-name {
  color: #ffcb6b;
}

.dark .token.attr-value {
  color: #a5e844;
}

.dark .token.attribute {
  color: #a5e844;
}

.dark .token.boolean {
  color: #c792ea;
}

.dark .token.builtin {
  color: #ffcb6b;
}

.dark .token.cdata {
  color: #80cbc4;
}

.dark .token.char {
  color: #80cbc4;
}

.dark .token.class {
  color: #ffcb6b;
}

.dark .token.class-name {
  color: #f2ff00;
}

.dark .token.comment {
  color: #616161;
}

.dark .token.constant {
  color: #c792ea;
}

.dark .token.deleted {
  color: #ff6666;
}

.dark .token.doctype {
  color: #616161;
}

.dark .token.entity {
  color: #ff6666;
}

.dark .token.function {
  color: #c792ea;
}

.dark .token.hexcode {
  color: #f2ff00;
}

.dark .token.id {
  color: #c792ea;
  font-weight: bold;
}

.dark .token.important {
  color: #c792ea;
  font-weight: bold;
}

.dark .token.inserted {
  color: #80cbc4;
}

.dark .token.keyword {
  color: #c792ea;
}

.dark .token.number {
  color: #fd9170;
}

.dark .token.operator {
  color: #89ddff;
}

.dark .token.prolog {
  color: #616161;
}

.dark .token.property {
  color: #80cbc4;
}

.dark .token.pseudo-class {
  color: #a5e844;
}

.dark .token.pseudo-element {
  color: #a5e844;
}

.dark .token.punctuation {
  color: #89ddff;
}

.dark .token.regex {
  color: #f2ff00;
}

.dark .token.selector {
  color: #ff6666;
}

.dark .token.string {
  color: #a5e844;
}

.dark .token.symbol {
  color: #c792ea;
}

.dark .token.tag {
  color: #ff6666;
}

.dark .token.unit {
  color: #fd9170;
}

.dark .token.url {
  color: #ff6666;
}

.dark .token.variable {
  color: #ff6666;
}