.post-list
  list-style: none

.post-list-child
  font-size: 1.5rem
  margin: 1.5rem 0
  display: flex
  justify-content: space-between
  font-family: var(--global-font-family)
  text-align: justify

.post-list-left
  display: flex
  height: 2.16rem
  flex-shrink: 1
  width: calc(100% - 11rem)

.post-list-symbol
  width: 3rem
  flex-shrink: 0

.post-list-child a
  text-decoration: none
  color: var(--fontColor)
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.post-list-child a&:visited
  color: var(--fontColor)

.post-list-child a&:hover
  color: var(--spColor)

.post-list-date
  padding-left: 3rem
  flex-shrink: 0
  text-align: right
  color: var(--fontColor)
  transition: color 0.5s

.post-list-author
  padding-left: 2rem
  flex-shrink: 0
  width: 11rem
  height: 2.16rem
  overflow: hidden;
  color: var(--fontColor)
  transition: color 0.5s
  text-align: right
  