.post-list
  list-style: none

.post-list-child
  font-size: 1.5rem
  margin: 1rem 0
  display: flex
  justify-content: space-between
  font-family: 'Noto Sans SC', sans-serif

.post-list-left
  display: flex

.post-list-symbol
  width: 3rem
  flex-shrink: 0

.post-list-child a
  text-decoration: none
  color: #000

.post-list-child a&:visited
  color: #000

.post-list-child a&:hover
  color: rgb(45, 136, 233)

.post-list-date
  padding-left: 1rem
  flex-shrink: 0
  text-align: right

.post-list-author
  padding-left: 2rem
  flex-shrink: 0
  width: 9rem
  height: 2.2rem
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis
  