.post-list
  list-style: none

.post-list-child
  font-size: 1.5rem
  margin: 1rem 0
  display: flex
  justify-content: space-between
  font-family: 'Noto Sans SC', sans-serif

.post-list-left
  display: flex

.post-list-symbol
  width: 3rem
  flex-shrink: 0

.post-list-child
  text-align: justify

.post-list-child a
  text-decoration: none
  color: var(--fontColor)

.post-list-child a&:visited
  color: var(--fontColor)

.post-list-child a&:hover
  color: var(--linkColor)

.post-list-date
  padding-left: 1rem
  flex-shrink: 0
  text-align: right
  color: var(--fontColor)

.post-list-author
  padding-left: 1rem
  flex-shrink: 0
  width: 8rem
  text-align: right
  height: 2.16rem
  overflow: hidden;
  color: var(--fontColor)
  