.article h1
  margin-top: 2.4rem
  margin-bottom: 2rem
.article h2
  margin-top: 2rem
  margin-bottom: 1.5rem
.article h3
  margin-top: 1.6rem
  margin-bottom: 1.2rem
.article h4
  margin-top: 1.4rem
  margin-bottom: 1rem
.article h5
  margin-top: 1.2rem
  margin-bottom: 0.8rem
.article h6
  margin-top: 1rem
  margin-bottom: 0.6rem

h1
  font-size: 3.2rem
h2 
  font-size: 2.4rem
h3
  font-size: 2rem
h4
  font-size: 1.8rem
h5
  font-size: 1.6rem
h6
  font-size: 1.4rem
p
  font-size: 1.5rem !important
  line-height: 2.5rem
  margin: 1rem 0
p>code 
  background-color: #fafafa
  color: rgb(227, 67, 67)
  font-family: monospace !important;

h1,h2,h3,h4,h5,h6,p,a
  font-family: 'Noto Sans SC', sans-serif

pre
  margin: 1rem 0 !important

pre code
  font-family: 'JetBrains Mono', monospace !important;

.article>ul
  margin: 1rem 0

.article>ol
  margin: 1rem 0

.article ul
  padding-left: 2rem

.article ol
  padding-left: 2rem

ul p
  margin: 0

ol p
  margin: 0

.article li
  font-family: 'Noto Sans SC', sans-serif
  font-size: 1.5rem
  line-height: 2.5rem

blockquote
  background-color: #fafafa
  padding-left: 2rem
  padding-top: 0.5rem
  padding-bottom: 0.5rem
  border-left: 2px solid rgb(0, 166, 255)
  margin: 1rem 0

table
  background-color: #cbcbcb
  font-size: 1.5rem
  font-family: 'Noto Sans SC', sans-serif
  width: 100%
  border-spacing: 1px
  margin: 1rem 0

thead
  background: #eaeaea

hr
  height: 1px
  background-color: #000
  margin: 1rem 0

.article img
  width: 100%
  display: block

tbody
  background-color: #fafafa