.pagination 
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 2rem

.pagination a 
  text-decoration: none
  color: var(--fontColor)
        
.pagination a:hover 
  color: var(--spColor)

.pagination .current  
  color: var(--spColor)
  
.pagination .ellipsis  
  color: var(--fontColor)