.pagination 
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 2rem
  font-size: 1.4rem

.pagination a 
  text-decoration: none
  color: var(--fontColor)
        
.pagination a:hover 
  color: var(--spColor)

.pagination span
  font-family: var(--global-font-family)

.pagination .current  
  color: var(--spColor)

.pagination .ellipsis  
  color: var(--fontColor)