.dark
  --bgColor: #181818
  --fontColor: silver
  --bgColor2: #2b2b2b
  --linkColor: #2d88e9
  --bgColor3: #292929

.light
  --bgColor: #fff
  --fontColor: #000
  --bgColor2: #fafafa
  --linkColor: #2d88e9
  --bgColor3: #e8e8e8

html
  font-size: 62.5%
  -webkit-text-size-adjust: none;
  background-color: var(--bgColor)

* 
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  border: none

.main-body a
  color: var(--linkColor)

.show-area
  width: 65rem
  margin: auto
  margin-top: 5rem

.main-body
  margin-top: 1rem

.blog-title
  margin: 0 

.blog-desc
  margin-bottom: 1rem
  font-weight: normal

.posts-header
  margin: 1rem 0 

.toc-container
  width: 100%
  position: sticky
  top: 0
  z-index: 999
  pointer-events: none

.toc-toggle
  margin-left: auto
  width: 5rem
  height: 5rem
  display: flex
  justify-content: center
  align-items: center
  background-color: var(--bgColor)
  pointer-events: auto

.toc-toggle i
  cursor: pointer
  pointer-events: auto
  color: var(--fontColor)

.toc
  display: none
  list-style: none
  background-color: var(--bgColor)
  pointer-events: auto

.show
  display: block

.toc-child
  list-style: none
  padding-inline-start: 2rem

.toc a
  text-decoration: none
  font-size: 1.4rem

.article-header
  margin-bottom: 2rem

.article-details
  margin-top: 3rem
  display: flex
  font-size: 1.2rem
  justify-content: space-between

.article-post-date
  font-family: 'Noto Sans SC', sans-serif
  color: var(--fontColor)

.article-details a
  text-decoration: none

a[class^='tag-']
  text-decoration: none
  padding: 0.25rem

.page-title
  margin-bottom: 2rem

.category-list-item::marker
  content: none

.category-list-item
  display: flex
  justify-content: space-between
  margin-bottom: 0.5rem

.category-list-link
  font-size: 1.6rem
  text-decoration: none

.category-list-count
  font-size: 1.6rem
  font-family: 'Noto Sans SC', sans-serif
  color: var(--fontColor)

footer
  display: flex
  justify-content: center
  padding: 2rem 0

.footer-info
  font-family: 'Noto Sans SC', sans-serif;
  color: var(--fontColor)

.footer-info a
  text-decoration: none
  color: var(--fontColor)

.footer-info a:hover
  color: var(--linkColor)

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.7);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128, 128, 128, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(128, 128, 128);
}

@import '../_partial/header.styl'
@import '../_partial/article.styl'
@import '../_partial/archive.styl'
@import './adapt.styl';
