<ul class="post-list">
  <% page.posts.each(function(post){ %>
  <li class="post-list-child">
    <span>
      <span>🚩</span>
      <a href="/<%=post.path%>"><%= post.title %></a>
    </span>
    <span>
      <%= post.date.format('YYYY-MM-DD') %>
    </span>
  </li>
  <% }) %>
</ul>