<footer>
  <div class="footer-info">© 2018-2022 Mizore | Powerd by <a href="https://hexo.io/">Hexo</a> | Theme <a
      href="#">Insnow</a></div>
  <div class="footer-info">
    <a class="footer-i" href="#"><i class="iconfont icon-wechat"></i></a>
    <a class="footer-i" href="https://github.com/mizoreyo"><i class="iconfont icon-github-fill"></i></a>
    <a class="footer-i" href="#"><i class="iconfont icon-rss"></i></a>
    <a class="footer-i" href="#"><i class="iconfont icon-mail"></i></a>
  </div>
</footer>