<footer>
  <div class="footer-info">© 2018-2022 <%= config.author %> | Powerd by <a href="https://hexo.io/">Hexo</a> | Theme <a
      href="https://github.com/mizoreyo/hexo-theme-insnow">Insnow</a></div>
  <div class="footer-info">
    <a class="footer-i" href="https://cdn.jsdelivr.net/gh/mizoreyo/static/images/wechat.PNG"><i
        class="iconfont icon-wechat"></i></a>
    <a class="footer-i" href="https://github.com/mizoreyo"><i class="iconfont icon-github-fill"></i></a>
    <a class="footer-i" href="#"><i class="iconfont icon-rss"></i></a>
    <a class="footer-i" href="mailto:mizoreyo@outlook.com"><i class="iconfont icon-mail"></i></a>
  </div>
</footer>