<header>
  <ul class="nav">
    <li class="nav-child">
      <a href="/">首页</a>
    </li>
    <li class="nav-child">
      <a href="/categories">分类</a>
    </li>
    <li class="nav-child">
      <a href="/tags">标签</a>
    </li>
    <li class="nav-child">
      <a href="/about">关于</a>
    </li>
    <li class="nav-child">
      <a href="/collection">收藏</a>
    </li>
  </ul>
  <div class="theme-switcher" onclick="switchTheme()">😳</div>
</header>