html {
  --o3o-font-family: Samsun;
  --o3o-sp-color: #3999ff;
  --o3o-common-color: #9499A0;
  --o3o-text-color: #000;
  --o3o-back-color: #fff;
}

.dark {
  --o3o-sp-color: #f59aa9;
  --o3o-text-color: silver;
  --o3o-back-color: #181818;
}

.O3O {
  margin-top: 2rem;
  background-color: var(--o3o-back-color);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.c-body {
  border-radius: 0.5rem;
  border: 1px solid var(--o3o-common-color);
  margin-bottom: 0.5rem;
}

.c-info {
  display: flex;
  border-bottom: 1px solid var(--o3o-common-color);
  padding: 1rem 0;
}

.c-i-blank {
  width: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.c-i-input {
  color: var(--o3o-text-color);
  width: calc(33% - 1rem);
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.4rem;
  font-family: var(--o3o-font-family);
  transition-property: color;
  transition-duration: 0.5s;
}

.c-i-input::placeholder,
.c-area::placeholder {
  color: var(--o3o-common-color);
}

.c-i-warning::placeholder {
  color: rgb(222, 79, 79);
}

.c-area {
  color: var(--o3o-text-color);
  width: 100%;
  outline: none;
  resize: none;
  padding: 1rem;
  box-sizing: border-box;
  line-height: 2rem;
  font-family: var(--o3o-font-family);
  font-size: 1.4rem;
  height: 10rem;
  border: none;
  background-color: var(--o3o-back-color);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.between {
  display: flex;
  justify-content: space-between;
}

.c-b-button {
  color: var(--o3o-text-color);
  display: inline-block;
  padding: 0 1rem;
  font-family: var(--o3o-font-family);
  height: 3rem;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3rem;
  border: 1px solid var(--o3o-common-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.5s;
}

.c-b-button:hover {
  border: 1px solid var(--o3o-sp-color);
  color: var(--o3o-sp-color);
  transition-property: color, border;
  transition-duration: 0.5s;
}

.b-lock {
  pointer-events: none;
  color: var(--o3o-common-color);
}

.space {
  margin-right: 1rem;
}

.count {
  font-size: 1.4rem;
  font-family: var(--o3o-font-family);
  line-height: 3rem;
  height: 3rem;
  padding: 0 1rem;
  color: var(--o3o-text-color);
  transition-property: color;
  transition-duration: 0.5s;
}

.warning {
  color: rgb(222, 79, 79);
}

.o-c-title {
  font-size: 2rem;
  font-family: var(--o3o-font-family);
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--o3o-text-color);
  transition-property: color;
  transition-duration: 0.5s;
}

.o-c-list {
  padding-inline-start: 2rem;
  font-family: var(--o3o-font-family);
  color: var(--o3o-text-color);
  transition-property: color;
  transition-duration: 0.5s;
}

.o-comment {
  margin-bottom: 2rem;
  color: var(--o3o-text-color);
  transition-property: color;
  transition-duration: 0.5s;
}

.o-c-header {
  margin-bottom: 0.5rem;
}

.o-c-guestName {
  font-family: var(--o3o-font-family);
  font-size: 1.3rem;
  color: var(--o3o-sp-color);
  transition-property: color;
  transition-duration: 0.5s;
}

.o-c-text {
  text-align: justify;
  font-size: 1.4rem;
  font-family: var(--o3o-font-family);
  line-height: 2rem;
  margin-bottom: 0.5rem;
  color: var(--o3o-text-color);
  transition-property: color;
  transition-duration: 0.5s;
}

.o-c-date {
  font-family: var(--o3o-font-family);
  font-size: 1.2rem;
  color: var(--o3o-common-color);
  transition-property: color;
  transition-duration: 0.5s;
}

.o-replys {
  padding-left: 2rem;
}

.o-reply {
  margin: 1rem 0;
  color: var(--o3o-text-color);
  transition-property: color;
  transition-duration: 0.5s;
}

.o-r-header {
  font-size: 1.3rem;
  font-family: var(--o3o-font-family);
  margin-bottom: 0.5rem;
}

.o-r-text {
  font-size: 1.4rem;
  font-family: var(--o3o-font-family);
  text-align: justify;
  line-height: 1.6rem;
  margin-bottom: 0.5rem;
  color: var(--o3o-text-color);
  transition-property: color;
  transition-duration: 0.5s;
}

.reply-button {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--o3o-common-color);
  font-family: var(--o3o-font-family);
}

.reply-button:hover {
  color: var(--o3o-sp-color);
  transition-property: color;
  transition-duration: 0.5s;
}